body{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(236, 98, 98);
}

.hamburger {
    display: flex;
    flex-direction: column;
    padding: 17px;
}

.line {
    width: 30px;
    height: 5px;
    background-color: #000; /* Adjust the color as needed */
    margin: 3px 0;
    border-radius: 5px;

}
.container{
    display: flex;
}
.inner-container{
    background: linear-gradient(to left, #f5d3d9, #f3f3ba);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.inner-container h1,p{
    align-self: flex-start;
    padding-left: 70px;
}
button{
    background-color: rgb(236, 98, 98);
    color: aliceblue;
    border: 0px;
    width: 150px;
    height: 35px;
    align-self: flex-start;
    margin-left: 70px;
    margin-top: 50px;
    
}
p{
    width: 60%;
    height: auto;
    margin-top: 50px;
}

.header{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 820;
}
img{
    width: 50%;
    height: 517px;
}




/* Bottom container styles */
.bottom-container {
    background: linear-gradient(to left, #f1b2be, #f3f3ba);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Left section styles */
.bottom-left-container {
    background-color: rgb(236, 98, 98);
    width: 40%;
    box-sizing: border-box;
    padding: 20px;
    /* max-width: 400px; Limit the maximum width for better readability */
}

.images-wrap-container {
    display: flex;
}

.images-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Add margin for spacing between image groups */
}

.images {
    width: 230px;
    height: 230px;
    margin-bottom: 7px;
}

.second-image {
    /* height: 467px; */
    height: 98.5%;
    width: 230px;
}

/* Text styles */
.caption {
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.click {
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.arrow {
    height: 5%;
    width: 5%;
    vertical-align: middle;
}

